[submodule "src/go-module"]
	path = src/go-module
	url = git@github.com:octomation/go-module.git
[submodule "src/go-tool"]
	path = src/go-tool
	url = git@github.com:octomation/go-tool.git
[submodule "src/go-service"]
	path = src/go-service
	url = git@github.com:octomation/go-service.git
[submodule "src/beads"]
	path = src/beads
	url = git@github.com:tact-app/beads.git
