[submodule "src/go-module"]
	name = go.octolab.org/template/module
	path = src/go-module
	url = git@github.com:octomation/go-module.git
[submodule "src/go-tool"]
	name = go.octolab.org/template/tool
	path = src/go-tool
	url = git@github.com:octomation/go-tool.git
[submodule "src/go-service"]
	name = go.octolab.org/template/service
	path = src/go-service
	url = git@github.com:octomation/go-service.git
[submodule "src/inbox"]
	name = go.octolab.org/template/inbox
	path = src/inbox
	url = git@github.com:tact-app/inbox.git

[submodule "src/beads"]
	name = go.octolab.org/ecosystem/beads
	path = src/beads
	url = git@github.com:tact-app/beads.git
[submodule "src/click"]
	name = go.octolab.org/ecosystem/click
	path = src/click
	url = git@github.com:tact-app/click.git
[submodule "src/forma"]
	name = go.octolab.org/ecosystem/forma
	path = src/forma
	url = git@github.com:octopot/forma.git
[submodule "src/guard"]
	name = go.octolab.org/ecosystem/guard
	path = src/guard
	url = git@github.com:octopot/guard.git
[submodule "src/passport"]
	name = go.octolab.org/ecosystem/passport
	path = src/passport
	url = git@github.com:octopot/passport.git
[submodule "src/tablo"]
	name = go.octolab.org/ecosystem/tablo
	path = src/tablo
	url = git@github.com:octomation/tablo.git
[submodule "src/tact"]
	name = go.octolab.org/ecosystem/tact
	path = src/tact
	url = git@github.com:tact-app/service.git

[submodule "src/airseat"]
	name = go.octolab.org/toolset/airseat
	path = src/airseat
	url = git@github.com:tact-app/airseat.git
[submodule "src/breakit"]
	name = go.octolab.org/toolset/breakit
	path = src/breakit
	url = git@github.com:octolab/breakit.git
[submodule "src/fiddle"]
	name = go.octolab.org/toolset/fiddle
	path = src/fiddle
	url = git@github.com:octomation/fiddle.git
[submodule "src/loop"]
	name = go.octolab.org/toolset/loop
	path = src/loop
	url = git@github.com:tact-app/loop.git
[submodule "src/maintainer"]
	name = go.octolab.org/toolset/maintainer
	path = src/maintainer
	url = git@github.com:octomation/maintainer.git
[submodule "src/optflow"]
	name = go.octolab.org/toolset/optflow
	path = src/optflow
	url = git@github.com:tact-app/optflow.git
[submodule "src/parallel"]
	name = go.octolab.org/toolset/parallel
	path = src/parallel
	url = git@github.com:octolab/parallel.git
[submodule "src/secret"]
	name = go.octolab.org/toolset/secret
	path = src/secret
	url = git@github.com:tact-app/secret.git
[submodule "src/testit"]
	name = go.octolab.org/toolset/testit
	path = src/testit
	url = git@github.com:octolab/testit.git
[submodule "src/try"]
	name = go.octolab.org/toolset/try
	path = src/try
	url = git@github.com:octolab/try.git

[submodule "src/inboxes/github"]
	name = go.octolab.org/tact/inbox/github
	path = src/inboxes/github
	url = git@github.com:tact-app/github.git
[submodule "src/inboxes/trello"]
	name = go.octolab.org/tact/inbox/trello
	path = src/inboxes/trello
	url = git@github.com:tact-app/trello.git

[submodule "src/cli"]
	name = go.octolab.org/toolkit/cli
	path = src/cli
	url = git@github.com:octolab/cli.git
[submodule "src/propaganda"]
	name = go.octolab.org/propaganda
	path = src/propaganda
	url = git@github.com:octolab/propaganda.git
[submodule "src/protocol"]
	name = go.octolab.org/toolkit/protocol
	path = src/protocol
	url = git@github.com:octolab/protocol.git
