go 1.20

use (
	./src/airseat
	./src/beads
	./src/breakit
	./src/cli
	./src/click
	./src/config
	./src/fiddle
	./src/forma
	./src/go-module
	./src/go-service
	./src/go-tool
	./src/guard
	./src/inbox
	./src/inboxes/github
	./src/inboxes/trello
	./src/pkg
)
